apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: us-east1-docker.pkg.dev/rakesh-478806/sujith-gar/java:v1
          ports:
          - containerPort: 8080
